<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="http://localhost:3000/quizzes">Hiperenlace a Quizzes</a><br/>
    <a href="http://localhost:3000/credits">Hiperenlace a Creditos</a>
  </body>
</html>
